.workouts-container {
  background: linear-gradient(to bottom, #ffffff, #fad0c4);
  min-height: 100vh;
  color: #000000;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Navigation Bar */
.workouts-content .navbar {
  display: flex;
  justify-content: space-between;

  padding: 15px 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.workouts-content .logo {
  font-size: 1.8rem;
  font-family: Courier New, monospace;
  color: #383838;
  text-align: left;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #4b4376;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-links a:hover {
  color: #000;
}

.workouts-content h1 {
  color: #4b4376;
  margin-top: 30px;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #4b4376;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #4b4376;
  color: white;
}

.back-icon {
  font-size: 1.5rem;
}

.workout-form {
  background: white;
  max-width: 600px;
  padding: 25px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 15px;
  gap: 15px;
  text-align: left;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.workout-form label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d2665a;
  margin-top: 10px;
}

.workout-form input,
.workout-form select,
.workout-form textarea {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.workout-form textarea {
  resize: vertical;
  min-height: 120px;
}

.workout-form .btn {
  background: linear-gradient(135deg, #b82132, #d43f50);
  color: white;
  padding: 14px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.workout-form .btn:hover {
  background: linear-gradient(135deg, #d43f50, #b82132);
  transform: scale(1.05);
}
